Explores Batsman stats

In [1]:
# The code was removed by Watson Studio for sharing.

,Player,Country,Confedration,Matches,Innings,Not Ouis,Runs,Highest Score,Average,Ball Faced,Strike Rate,Centuries,Half Centuries,Golden Duck,Boundaries,Maximum
0,RG Sharma,IND,ACC,9,9,1,648,140,81.00,659,98.33,5,1,0,67,14
1,DA Warner,AUS,EAP,10,10,1,647,166,71.88,724,89.36,3,3,0,66,8
2,Shakib Al Hasan,BDESH,ACC,8,8,1,606,124*,86.57,631,96.03,2,5,0,60,2
3,KS Williamson,NZL,EAP,10,9,2,578,148,82.57,771,74.96,2,2,0,50,3
4,JE Root,ENG,ECC,11,11,2,556,107,61.77,621,89.53,2,3,0,48,2